* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.titlebar {
  border: 1px solid gray;
}
.actions {
  background-color: aliceblue;
}
.data {
  margin: 0 20px;
  padding: 2%;
  background-color: white;
  max-height: 400px;
  overflow: scroll;
}

.data::-webkit-scrollbar {
}
#modal1::-webkit-scrollbar {
  display: none;
}

.addpanel::-webkit-scrollbar {
  display: none;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.tds {
  overflow: hidden;
  max-width: 200px;
  padding-right: 10px;
}
